*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider{
    width: 100px;
    background-color: #ddd;
    overflow-x: hidden;
    display: flex;
    scroll-behavior: smooth;
}

.box{
    min-width:100px;
    min-height:100px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.user-data{
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    color: gray;
    
}